<article>
  <%= render_markdown(@factor) %>
</article>

<div class="content-footer bt bb b--silver bg-lightest-silver">
  <div class="previous-next pb3 bb b--silver">
    <%= render_prev(@factor) %>
    <%= render_next(@factor) %>
  </div>

  <div class="locales">
  <%= render_locales(@factor) %>
  </div>
</div>

