<section class="abstract">
  <article><%= @home.intro.render %></article>
  <article><%= @home.background.render %></article>
  <article><%= @home.who.render %></article>
</section>

<section class="concrete">

  <article>
    <%= @home.toc.render %>
  </article>
</section>
