<article>
  <%= render_markdown('main') %>
</article>

<article>
  <%= render_markdown('toc') %>
</article>

<div class="safe-area-inset content-footer bt bb b--silver bg-lightest-silver">
  <div class="locales">
  <%= render_locales(@factor) %>
  </div>
</div>